<div>
  <nav class="navbar fixed-top  navbar-expand-lg navbar-light ">
    <button class="navbar-toggler  navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon "></span>
      </button>
      <a class="navbar-brand" href="#" style="color: #18b9ce; font-size:40px;">
       
       &nbsp;&nbsp; PILLPULSE
      </a>
        <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
      <ul class="nav justify-content-end  my-lg-0 navs">
      <li class="nav-item">
        <a class="nav-link" [routerLink] = "['/home']">Home</a>
      </li>
     
      <li class="nav-item">
        <a class="nav-link" href="https://www.ahealthblog.com">Blog</a>
      </li>
      <li class="nav-item" id="register">
        <a class="nav-link" [routerLink] = "['/register']">Register</a>
      </li>
      <li class="nav-item" id="login">
        <a class="nav-link" [routerLink] = "['/login']">Login</a>
      </li>
      <li class="nav-item" id="logout">
        <a class="nav-link" (click)="logout()">Logout</a>
      </li>
      <li class="nav-item" id="dashboard">
          <a class="nav-link" [routerLink] = "['/dashboard']">Dashboard</a>
        </li>
    </ul>
    </div>
    </nav>
</div>
