<div class="fluid-container gradient-color" style="height: 70vw;">
        <div class="login-form">
            <form  id="loginform" #tokenform="ngForm" (ngSubmit)="checkToken(tokenform.value)" >
                <h2 class="text-center">Enter your code sent to your mail</h2>       
                <div class="form-group">
                    <input type="text" class="form-control" name="token" placeholder="Enter your code" required="required" ngModel>
                </div>
               
                <div class="form-group">
                    <button type="submit" class="btn btn-primary btn-block">Submit</button>
                </div>
                       
            </form>
           
        </div>
        </div>
    